@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 24% 90%;
    --foreground: 221 5% 10%;
    --card: 221 24% 96%;
    --card-foreground: 221 5% 15%;
    --popover: 221 24% 96%;
    --popover-foreground: 221 95% 10%;
    --primary: 221 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 24% 96%;
    --secondary-foreground: 0 0% 0%;
    --muted: 213 93.9% 90%;
    --muted-foreground: 221 5% 40%;
    --accent: 213 93.9% 90%;
    --accent-foreground: 221 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 221 5% 96%;
    --border: 221 24% 82%;
    --input: 221 24% 50%;
    --ring: 221 83.2% 53.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 221 24% 10%;
    --foreground: 221 5% 96%;
    --card: 221 24% 10%;
    --card-foreground: 221 5% 96%;
    --popover: 221 24% 5%;
    --popover-foreground: 221 5% 96%;
    --primary: 221 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 24% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 217 91.2% 59.8%;
    --muted-foreground: 221 5% 65%;
    --accent: 217 91.2% 59.8%;
    --accent-foreground: 221 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 221 5% 96%;
    --border: 221 24% 50%;
    --input: 221 24% 50%;
    --ring: 221 83.2% 53.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
